<%= form_with(model: pemenang, local: true) do |form| %>
  <% if pemenang.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pemenang.errors.count, "error") %> prohibited this pemenang from being saved:</h2>

      <ul>
        <% pemenang.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lelang_id %>
    <%= form.text_field :lelang_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :harga %>
    <%= form.text_field :harga %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
