<style>
.fa-star {
    color: yellow;
}
</style>
<div class="app-main__outer">
  <div class="app-main__inner">
      <div class="app-page-title">
          <div class="page-title-wrapper">
              <div class="page-title-heading">
                  <div class="page-title-icon">
                      <i class="fas fa-gavel" style="color: rgb(2,0,36);
color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 37%, rgba(0,212,255,1) 100%);" ></i>
                  </div>
                  <div>Lelang Online
                      <div class="page-title-subheading">This is an example dashboard created using build-in elements and components.
                      </div>
                  </div>
              </div>
              <div class="page-title-actions">
                  <div class="d-inline-block dropdown">
                      <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                          <ul class="nav flex-column">
                              <li class="nav-item">
                                  <a href="javascript:void(0);" class="nav-link">
                                      <span>
                                      </span>
                                      <div class="ml-auto badge badge-pill badge-secondary"></div>
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="javascript:void(0);" class="nav-link">
                                      <i class="nav-link-icon lnr-book"></i>
                                      <span>
                                      </span>
                                      <div class="ml-auto badge badge-pill badge-danger"></div>
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="javascript:void(0);" class="nav-link">
                                      <i class="nav-link-icon lnr-picture"></i>
                                      <span>
                                          Picture
                                      </span>
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a disabled href="javascript:void(0);" class="nav-link disabled">
                                      <i class="nav-link-icon lnr-file-empty"></i>
                                      <span>
                                          File Disabled
                                      </span>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
           </div>
      </div>


<div class="row">
    <div class="col-sm-6">
        <div class="card" >
            <img class="card-img-top" src="<%= url_for(@lelang.barang.foto)  %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" style="color: red;"><%= number_to_currency(@lelang.barang.harga_awal, :unit => "IDR ", :separator => ",", :delimiter => ".") %></h5>
              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              <h4 href="#" class="card-text" ><%= @lelang.barang.nama_barang %>.</h4>
              <p class="card-text alert alert-secondary ">
                <small class="text-muted">
                  Status Lelang:
                  <% if @lelang.status == true %>
                   Tersedia
                  <% else %>
                   Tidak Tersedia
                  <% end %>
                </small>
                <br>
                Tanggal lelang <%= @lelang.tanggal_lelang %>
                <br>
              </p>

              <div class="alert alert-primary" >
                Penawaran Tertinggi
                <% @penawaran_tertinggi.each do |tawaran_tertinggi| %>
                <%= tawaran_tertinggi.user.email %>

                  <h5 >
                    <%= tawaran_tertinggi.user.nama_depan %> <%= tawaran_tertinggi.user.nama_belakang %>
                  </h5>
                  <h5 style="color: red;">
                  <%= number_to_currency(tawaran_tertinggi.tawaran, :unit => "IDR ", :separator => ",", :delimiter => ".") %>
                  </h5>
                <% end %>
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card" >
            <!-- <img class="card-img-top" src="<%= url_for(@lelang.barang.foto)  %>" alt="Card image cap"> -->
            <div class="card-body">
              <!-- <h5 class="card-title" style="color: red;"><%= number_to_currency(@lelang.barang.harga_awal, :unit => "IDR ", :separator => ",", :delimiter => ".") %></h5> -->
              <div class="card-text">
                <h4>
                <!-- <%= @lelang.barang.nama_barang %> <br> -->
                </h4>
                <h6  class="alert alert-info" >
                <%= strip_tags(@lelang.barang.deskripsi_barang) %>
                </h6>

              </div>
              <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
    </div>
</div>
<br>

<%= render partial: '/penawarans/form' %>
<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
<% @list_penawaran.order(created_at: :desc).each do | bid | %>
<div class="row" >
  <div class="col-sm-12">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title" style="color: red;"><%= number_to_currency(bid.tawaran, :unit => "IDR ", :separator => ",", :delimiter => ".") %></h5>
              <h6 class="card-text" style="">
                <%= bid.user.email %>
              </h6>
                <%= bid.created_at %>
            </div>
        </div>
    </div>
  </div>
    <br/ >
<% end %>


                    </div>
                </div>
                <br>
<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Barang:</strong>
  <%= @lelang.barang_id %>
</p>

<p>
  <strong>Tanggal lelang:</strong>
  <%= @lelang.tanggal_lelang %>
</p>

<p>
  <strong>Harga akhir:</strong>
  <%= @lelang.harga_akhir %>
</p>

<p>
  <strong>User:</strong>
  <%= @lelang.user_id %>
</p>

<p>
  <strong>Petugas:</strong>
  <%= @lelang.petugas_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lelang.status %>
</p>

<%= link_to 'Edit', edit_lelang_path(@lelang) %> |
<%= link_to 'Back', lelangs_path %> -->
